<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between" style="margin-bottom: 30px" xmlns:th="http://www.thymeleaf.org">
  <div class="d-flex">
    <a class="navbar-brand" href="/">WebPhotos</a>
  </div>
  <div class="d-flex">
      <div class="input-container mr-2">
          <input
                  class="form-control"
                  style="position: relative"
                  id="search-input"
                  type="text"
                  name="name"
                  placeholder="Search photo..."
                  oninput="onInputChange(this.value)"
                  autocomplete="off"
          >
          <div class="app-dropdown"></div>
      </div>
      <button class="btn btn-light" type="submit" onclick="searchPhotosByName()">Search</button>
  </div>
</nav>