<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Carica foto</title>
</head>
<body>
	<h1>Carica foto</h1>
	<form th:action="@{/addFoto}" method="POST" th:object="${foto}">
	<div>
		<label for="nome">Nome: </label>
		<input type="text" th:field="*{nome}">
	</div>
	<div>
		<div>
		Fotografo: 
		<select th:field="*{autore}">
	  		<option th:each="fotografo : ${allFotografi}" 
	          th:value="${autore}" 
	          th:text="${fotografo.nome}">Nome fotografo</option>
		</select>
	</div>
	</div>
	<div>
		Album: 
		<select th:field="*{album}">
	  		<option th:each="album : ${allAlbum}" 
	          th:value="${album}" 
	          th:text="${album.nome}">Nome album</option>
		</select>
	</div>
	<div>
		<button type="submit">Carica foto</button>
	</div>
	</form>
</body>
</html>