<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>WebPhoto by Silph</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>WebPhoto</h1>
  <p>Benvenuto su WebPhoto by Silph</p> 
</div>
  
<div class="container">
<ul>
	<li><a href="/photos">Foto</a></li>
	<li><a href="/photographers">Fotografi</a></li>
	<li><a href="/admin">Area Riservata</a></li>
	
</ul>

  <div class="row">
    <div th:each="photo: ${photos}" class="col-sm-4">
    	<img src="/images/placeholder.png" width="275" height="183">
      <h3><a th:text="${photo.name}" th:href="@{'/photo/' + ${photo.id}}">Foto 1</a></h3>
    </div>
  </div>
</div>

</body>
</html>
