<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title th:text="${photo.name}">Titolo foto</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	
	
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div th:replace="fragments/header"></div>
	<div class="container">
		<div th:if="${photo.fileName}" class="mb-3">
			<img th:src="@{${'/uploads/' + photo.fileName}}" style="max-width: 100%">
		</div>
		<div th:unless="${photo.fileName}">
			<img src="/images/placeholder.png" style="width: 100%; max-height: 500px">
		</div>
		<i class="fas fa-heart"></i><span class="card-text" th:text="${photo.likes}"></span>
		<h2 th:text="${photo.name}"></h2>
		<p th:text="${photo.description}"></p>
		<h4>Author: <a th:href="@{'/' + ${photo.author.username}}" th:text="${photo.author.name} + ' ' + ${photo.author.surname}">Nome e cognome autore</a></h4>
		<h4>Album: <a th:href="@{'/' + ${photo.author.username} + '/album/' + ${photo.album.name}}" th:text="${photo.album.name}">Nome album</a></h4>
	</div>
</body>
</html>